<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/javascripts/smoothie.js"></script>
    <script type="text/javascript" src="/javascripts/graph1.js"></script>
    <script type="text/javascript"></script>

</head>

<body onload="createTimeline()">

    <canvas id="chart" width="400" height="100"></canvas>

</body>

</html>
